:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.custom-parcel-popup .mapboxgl-popup-close-button {
  background-color: #3b82f6 !important;
  color: white !important;
  border-radius: 0 !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  right: 0 !important;
  top: 0 !important;
  font-size: 20px !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-parcel-popup .mapboxgl-popup-close-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-parcel-popup .mapboxgl-popup-close-button:hover {
  background-color: #ef4444 !important;
  color: white !important;
}

.custom-parcel-popup .mapboxgl-popup-content {
  padding: 15px 10px 10px 10px !important;
  background: white !important;
  color: #333 !important;
  border-radius: 4px !important;
}